<html>
<head>
<style>
body, #container {
margin:0;
padding:0;
}
</style>
<!--<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAjIoydXIRig2jH2wOk9RbRBS4htDaq4l38Ykxc2FkLC0yoElfIBRf9POg5r3oKw7BeJATCQC6QZ1StA" type="text/javascript"></script>-->

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script>
var showMap = function(id, la, lo) {
/*
        var map = new GMap2(document.getElementById(id));
        map.setCenter(new GLatLng(la, lo), 13);
        map.setUIToDefault();
*/

var latLng = new google.maps.LatLng(la, lo)

var myOptions = {
  zoom: 14,
  center: latLng,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById(id), myOptions);
var marker = new google.maps.Marker({
      position: latLng,
      map: map,
      title:"Bot client",
      animation: google.maps.Animation.DROP
});
return map;

};
</script>
</head>
<body onload="showMap('container', {{ la }}, {{ lo }})">
<div id="container" style="width:100%;height:100%;">
</div>
</body>
</html>
